@model event_page_web.Models.User
<h3>Kayıt Ol</h3>

<form asp-action="Register" method="post">
    <div class="form-group">
        <label for="Kullanici_Adi">Kullanıcı Adı</label>
        <input asp-for="Kullanici_Adi" class="form-control" />
    </div>

    <div class="form-group mt-2">
        <label for="Sifre">Şifre</label>
        <input asp-for="Sifre" type="password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success mt-3">Kaydol</button>
</form>
